

  <form  class="container" [formGroup]="myform" 
  role="form"  >

<div *ngIf="!displayError;">
 <div *ngIf="!isLoading">
  <div class="card" >
      <div class="row" *ngFor="let item of itemsdet"> 
       
       
        <div class="col-md-2 "  > 
          <div class ="mt-2 ml-2 " *ngFor="let smimg of item.itemDetail.itemLists" >
              <div class ="mt-2 ml-2 " *ngFor="let imgs of smimg.images let i=index" >
                 <img class="border border-primary" height='40px' width='40px'  [src]="imgs"  (click)="ChangeImage(i);" >
              </div>
          </div>
        </div> 

        <div class="col-md-4 ">gfgfdg
         
                <lib-ngx-image-zoom
                    [thumbImage]= itemsdet[0].itemDetail.itemLists[0].images[imageIndex]
                    [fullImage]= itemsdet[0].itemDetail.itemLists[0].images[imageIndex]
                    [magnification]="1"
                    [enableScrollZoom]="true"
                    [enableLens]="true"
                    [lensWidth]="40"
                    
                    [enableScrollZoom]="true"
                    [lensHeight]="40"
                    [circularLens]="true"
                    [enableScrollZoom]="true">
            
          </lib-ngx-image-zoom>

          </div>
       
        <div class="col-md-6 form-group ">
            <table class="table">
              <tr>
                <td style="background-color: blueviolet" class="" >
                  <h2 style="color: white" >{{itemDesdription}}</h2>
                </td  >
              </tr>
              <tr>
                <td class="item-fore-color">
                            Brand:&nbsp; {{brand}}
  
                </td>
              </tr>
              <tr>
                <td class="item-fore-color">
                Size:&nbsp; {{sizeName}}
                </td>
              </tr>
              <tr>
<td class="item-fore-color">
  
  <div class=""
  [ngClass]="{
   'has-danger': sizes.invalid && (sizes.dirty || sizes.touched),
   'has-success': sizes.valid && (sizes.dirty || sizes.touched)
}">
    Available Size
    <select class="ml-2"
     formControlName="sizes"  [(ngModel)]="selecteditemId" (change)=GetDetailsOnSizeChange(selecteditemId) >

    <option *ngFor="let cc of availableSizes"[value]="cc._id">
      {{cc.sizeName}}
    </option>
  </select>

    <div class="form-control-feedback"
        *ngIf="sizes.errors && (sizes.dirty || sizes.touched)">
    <p *ngIf="sizes.errors?.['required']" class="text-danger">Size is required</p>

    </div>

</div>
</td>
</tr>
<tr>

      <td  class="item-fore-color" style= "-webkit-text-fill-color:crimson "  >
        <p>Available Quantity: &nbsp;{{availableQty}}</p>
      </td>
 </tr> 
  <tr  >
   <td class="item-fore-color">

<p>Quantity :</p>  
  <input type ="button" class="qty-btn" [disabled]="disableplus" value="+" (click)="salequantityplus();" />
    <input type ="text" class="text-danger " [value]="minQty" style="width:30px;" disabled=true/>
    <input type ="button" class="qty-btn" [disabled]="disableminus"  value="-" (click)="salequantitminus();"/>

</td>
 </tr>
 
 <tr>      
        <td class="item-fore-color">
          <h4>Price: &nbsp;{{price |currency :"INR"}}</h4>
        </td>
              </tr>   
              <tr>
                <td class="item-fore-color">
                        <h4> Offer Price:&nbsp;  {{offerprice|currency :"INR"}}</h4>
                </td>
              </tr>
                  <tr> 
                    <td class="item-fore-color">       <!-- <mat-list-item  id = "hover" class="alert alert-info" role="alert" *ngIf="showSelected" style="position:fixed" > -->
               
                  <ul style="-webkit-text-fill-color: indigo"  >
                      <li item-fore-color  >
                          <b> Color:&nbsp; {{colorname}}</b>
                        </li>
                        
                      <li item-fore-color>
                        <b>    Delivery Charges:&nbsp; {{deliverycharges |currency :"INR"}}</b>
                          </li>
                  </ul>
               
              </td>
                </tr>
 
            
           <tr>
            <td style="font-size: 10px;" class="item-fore-color">
              <b>Amount 
               (Excluding Delivery Charges) :{{totalPaidAmount|currency :"₹":''}}
               
             </b>
            </td>
          </tr>
          <tr>
            <td style="font-size: 10px;" class="item-fore-color">
              <b>Total Paid Amount  
               (Including Delivery Charges) :{{totalPaidAmount + deliverycharges|currency :"INR"}}
               
             </b>
            </td>
          </tr>

            <tr>
              <td class="item-fore-color" >
                <b>  Delivery:&nbsp; By Courier</b>
              </td>
            </tr>
<tr>
  <td>
            <button style="white-space:nowrap;" (click)="addToCart();" class="float-right m-2 mat-raised-button btn-danger "  >
              <mat-icon>shopping_cart</mat-icon>
              Add to Cart
            </button >
          
        </td>
      </tr>
          </table>
      
          </div>
        </div>
      </div>

</div>
</div>
<div *ngIf="displayError;"><h1>Oops Item sold. No quantity available now</h1></div>
</form>

